.card-footer {
    padding: 0;
    background: #fff;
}
.card-img-top { 
    height: 200px;
  }
  

.card {

    margin-bottom: 30px
}

.card-footer button {
    cursor:pointer;
    text-transform: uppercase;
}