<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= siteTitle %> - <%= pageTitle %></title>
    <%- include ('../partials/head') %>
    <style>
        *{border-radius: 0px !important}
    </style>
</head>
<body>
    <%- include ('../partials/navbar') %>
    
