<meta charset = "UTF-8">
<title> document </title>

<link rel="stylesheet" href ="..\..\node_modules\bootstrap\dist\css\bootstrap.min.css">
<script src ="../../node_modules/jquery/dist/jquery.min.js">
</script>
<script src ="../../node_modules/tether/dist/js/tether.min.js">
</script>
<script src ="../../node_modules/bootstrap/dist/js/bootstrap.min.js">
</script>
